.text-color {
    color: black;
    text-decoration: none;
    display: block;
}

.text-color:hover {
    text-decoration: underline;
    color: red;
}

.background {

    background-color: lightblue;
}